# Server
BACKEND_URL=
MONGO_URI=
MONGODB_URI=

# Auth
JWT_SECRET=
REFRESH_TOKEN_SECRET=
BACKDOOR_PWD=

# Redis
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_HOST=
REDIS_PORT=

# Mail
MAIL_USER=
MAIL_PASS=
OG_EMAIL=

# AI & Media Services
OPENAI_API_KEY=
REPLICATE_API_TOKEN=
BUNNY_STORAGE_NAME=
BUNNY_API_KEY=
BUNNY_STORAGE_REGION=
BUNNY_DOMAIN=

# Facebook
FB_VERIFY_TOKEN=
FB_APP_ID=
FB_APP_SECRET=

# Jina AI
JINA_API_KEY=

# Models
JINA_MODEL=jina-clip-v2
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
OPENAI_GENERATIVE_MODEL=gpt-4.1-mini-2025-04-14
REPLICATE_MODEL=krthr/clip-embeddings:1c0371070cb827ec3c7f2f28adcdde54b50dcd239aa6faea0bc98b174ef03fb4

# Frontend Configs
NEXTAUTH_SECRET=
NEXT_PUBLIC_BACKEND_URL=
NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_EMAIL_SERVICE_ID=
NEXT_PUBLIC_EMAIL_TEMPLATE_ID=
NEXT_PUBLIC_EMAIL_PUBLIC_KEY=
